# Core do WordPress (Geralmente gerenciado por atualizações automáticas ou Composer)
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
!/wp-config-sample.php

# Configurações sensíveis (NUNCA envie as credenciais do banco de dados ao GitHub)
wp-config.php
.env

# Conteúdo padrão do WordPress e Temas padrão
/wp-content/index.php
/wp-content/languages/
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-content/themes/twenty*/

# Mídias e Uploads do WooCommerce (Imagens de produtos e PDFs gerados acumulam GBs no Git)
/wp-content/uploads/
/wp-content/blogs.dir/
/wp-content/upgrade/

# Arquivos gerados pelo WooCommerce e Plugins de Cache
/wp-content/cache/
/wp-content/wphb-cache/
/wp-content/uploads/wc-logs/
/wp-content/uploads/woocommerce_uploads/
*.log

# Arquivos de Sistema e IDEs
.DS_Store
.DS_Store?
._*
.Thumbs.db
ehthumbs.db
.Desktop
.vsco/
.idea/

# Dependências de Desenvolvimento (caso use automação no tema/plugins)
node_modules/
/vendor/
npm-debug.log
yarn-error.log
